.ant-layout {
  .ant-layout-sider {
    background: #001529;
  }
  .ant-menu.ant-menu-dark,
  .ant-menu-dark .ant-menu-sub,
  .ant-menu.ant-menu-dark .ant-menu-sub {
    background: #001529;
  }
  .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal)
    .ant-menu-item-selected {
    background: #001529;
  }
  .ant-layout-header {
    background: #001529;
    button {
      border: none;
      color: #fff;
      background-color: transparent;
      &:hover {
        background-color: transparent;
      }
    }
  }
  .ant-layout-sider-trigger {
    background: #001529;
  }
  .dropdown-menu.show {
    a {
      line-height: 30px;
    }
  }
}
